<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home/login.css">
    <script src = "/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input id="id" type="text" name="" required="">
            <label>ID</label>
          </div>
          <div class="user-box">
            <input id="name" type="text" name="" required="">
            <label>NAME</label>
          </div>
          <div class="user-box">
            <input id="psword" type="password" name="" required="">
            <label>Password</label>
          </div>
          <div class="user-box">
            <input id="confirm-psword" type="password" name="" required="">
            <label>Password-check</label>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up
        </button>
        <p class="message">Already registered? <a href="/login">Go to Login</a></p>
        </form>
      </div>
</body>
</html>

<!-- Copyright (c) 2023 by Soufiane Khalfaoui HaSsani (https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda) -->